<div class="ChampionProfile">
  <a routerLink="/profile">
    <img [src]="championSplaszArt" alt="championSplaszArt" class="SplashArt" />
  </a>
  .<div class="spellIcon">
    <img [src]="QArt" alt="QArt"/>
    <span class="tooltiptext">{{QName}}</span>
  </div>
  .<div class="spellIcon">
    <img [src]="WArt" alt="WArt"/>
    <span class="tooltiptext">{{WName}}</span>
  </div>
  .<div class="spellIcon">
    <img [src]="EArt" alt="EArt"/>
    <span class="tooltiptext">{{EName}}</span>
  </div>
  .<div class="spellIcon">
    <img [src]="RArt" alt="RArt"/>
    <span class="tooltiptext">{{RName}}</span>
  </div>
</div>

